<h1>Contact Us</h1>
<h3>Feel free to ping us anytime.  You can reach us through the following social channels</h3>
	<p>
	Facebook - <%= link_to "Like Sportspack.io on Facebook", "http://www.facebook.com/sportspack.io", :target => "_blank" %><br>
	Instagram - <%= link_to "Follow Sportspack.io on Instagram", "http://www.instagram.com/sportspack.io", :target => "_blank" %><br>
	Twitter - <%= link_to "Follow Sportspack.io on Twitter", "http://www.twitter.com/sportspack_io", :target => "_blank" %></p>

<p>Alernatively you can drop us a line at 1.888.SportsPK</p> 
