<h1>Welcome to Sportspack.io</h1>

<p>Thanks for dropping by! 
	<br>
	<br>
		Go to the main site <%= link_to "SPORTSPACK.IO", "http://www.sportspack_io", :target => "_blank" %> for further details and to enhance your hockey experience.
 	</p>


