<% if user_signed_in? %>
   <div class="jumbotron jumbotron-home">
	    <div class="container">
	        <h1>Welcome back!</h1>
	    </div>
	</div>
<% else %>
	<div class="jumbotron jumbotron-home">
	    <div class="container">
	        <h1>Life is too short!</h1>
	        <p>The world is moving fast but you can slow things down in your life to appreciate the things that truly matter to you. Don't forget to LIVE, LOVE & LAUGH every day.</p>
	        <%= link_to "Learn more »", "#", class: "btn btn-success btn-lg" %> 
	    </div>
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-md-4">
	            <h2>Live</h2>
	            <p>Enjoy every day to the fullest, you can never get back time.  It's the one resource that doesn't replenshi itself. </p>
	            <p><%= link_to "View details", "#", class: "btn btn-info" %></p>
	        </div>
	        <div class="col-md-4">
	            <h2>Love</h2>
	            <p>Cherish and love those around you.  Don' forget the people who made you who you are today.  Even a simple smile to stranger can go a long way. </p>
	            <p><%= link_to "View details", "#", class: "btn btn-info" %></p>
	        </div>
	        <div class="col-md-4">
	            <h2>Laugh</h2>
	            <p>Always good to have a sense of humor and not take things so seriously.  Laughter is great medicine for the heart and soul. </p>
	            <p><%= link_to "View details", "#", class: "btn btn-info" %></p>
	        </div>
	    </div>
	</div>
	<% end %>
